header {
    background-color: #0F4C75;
}

.nav--link {
    color: #BBE1FA;
    margin: 1rem 2rem 1rem;
}

#home--page {
    background-color: #BBE1FA;
    text-align: center;
}

.logo--detail {
    width: 30rem;
    margin: 5% 0 0;
}
