header {
    background-color: #0F4C75;
}

.nav--link {
    color: #BBE1FA;
    margin: 1rem 2rem 1rem;
}

#home--page {
    background-color: #BBE1FA;
    text-align: center;
}

.logo--detail {
    width: 30rem;
    margin: 7% 0 3%;
}

h1 {
    color: #1B262C;
    padding: 1rem 0 1rem;
    font-family: 'DM Serif Display', serif;
}

h2 {
    color: #0F4C75;
    padding: 1rem 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 7rem;
}
