header {
    background-color: #0F4C75;
}

nav {
    background-color: #0F4C75;
}

.li--dimension {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav--link {
    color: #BBE1FA;
    margin: 1rem 2rem 1rem;
}

.toggler--color {
    color: #BBE1FA;
    border-color: #0F4C75;
}

#home--page {
    background-color: #BBE1FA;
    text-align: center;
    margin-bottom: 5rem;
}

.logo--detail {
    width: 30rem;
    margin: 11% 0 3%;
}

h1 {
    color: #1B262C;
    padding: 1rem 0 1rem;
    font-family: 'DM Serif Display', serif;
}

h2 {
    color: #0F4C75;
    padding: 1rem 0 1rem;
    margin: 0 auto 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-bottom: 7rem;
}

.skills-section {
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
}

.skill--divs {
    text-align: center;
    width: 25rem;
    margin-right: auto;
    margin-left: auto;
}

.icon--skill {
    font-size: 6rem;
    color: #1B262C;
}

.nav--link--2 {
    color: #BBE1FA;
    margin: 1rem 2rem 1rem;
}

footer {
    background-color: #1B262C;
    text-align: center;
}

.footer-note {
    color: #3282B8;
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-size: 0.7rem;
    margin-top: 1.5rem;
}
